.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
}

#headerInput {
  font-size: 32px;
  line-height: 45px;
  padding: 5px;
  border: 1px solid #70941e;
}

#headerInput:focus {
  outline: none;
}

.header-btn-add {
  width: 56px;
  height: 56px;
  font-size: 43px;
  background-color: #70941e;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header-btn-add:hover {
  background-color: #767676;
}

.header-select {
  cursor: pointer;
  border: 1px solid #70941e;
  background-color: #70941e;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.header-select option {
  cursor: pointer;
  background-color: #ffffff;
  color: #70941e;
  font-size: 15px;
}

.header-btn-clear {
  font-size: 22px;
  line-height: 45px;
  background-color: #000000;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
}

.header-btn-clear:hover {
  background-color: #94301e;
}